/*------------------------------------------------------------------
[1. Variables]
*/
/*---------------------------------------------------
[Colors]
---------------------------------------------------*/
$c-white: #FFFFFF;
$c-cultured: #F0EDEE;
$c-cultured2:#F6F6F6;
$c-grey: #EDEDED;
$c-cement: #828282;
$c-blue: #0166FD;
$c-sizzling-red: #ef5d60ff;
$c-lavender-web: #d9dbf1ff;
$c-mint-green: #a9fdacff;
$c-space-cadet: #383961ff;
$c-light-periwinkle: #b9b8d3ff;
$c-black: #0A090C;
$c-charcoal: #202020;