<!-- Container -->
<div class="container-fluid">
    <!-- Navbar Brand -->
    <a href="#" class="navbar-brand">LAB5</a>
    <!-- /.navbar-brand -->

    <!-- Navbar Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <!-- Navbar Toggler Icon -->
        <span class="navbar-toggler-icon"></span>
        <!-- /.navbar-toggler-icon -->
    </button>
    <!-- /.navbar-toggler -->

    <!-- Navbar -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar Links -->
        <ul class="nav navbar-nav ms-auto">
            <!-- Link Items -->
            <li class="nav-item"><a href="#" class="nav-link">Welcome</a></li>
            <li class="nav-item"><a href="#" class="nav-link">API</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Documentation</a></li>
            <li class="nav-item"><a href="#" class="nav-link">GitHub</a></li>
            <!-- /.link-items -->
        </ul>
        <!-- /.navbar-links -->
    </div>
    <!-- /.navbar -->
</div>
<!-- /.container -->