@charset 'utf-8';
/*------------------------------------------------------------------
[Master Stylesheet]

Project:    CISC3140 Lab 5
Version:    1.0
Last change:    05/11/22 [Initial build]
Assigned to:    Stephen Mwingira
Primary use:    API 
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]

1. Variables
2. Mixins
3. Keyframes
4. Functions
5. Resets
6. Body
7. Typography
8. Buttons
9. Navigation
10. Index Page
------------------------------------------------------------------*/
@import '1-helpers/variables';
@import '1-helpers/mixins';
@import '1-helpers/functions';
@import '2-base/resets';
@import '2-base/body';
@import '2-base/typography';
@import '2-base/buttons';
@import '3-layout/navbar';
@import '4-pages/index';
// @import "colors.css";
// @import "typography.css";
// @import "flash.css";
/* @import "debugging.css"; */