<!-- Header -->
<header id="indexHeader" class="background">
    <!-- Container -->
    <div class="container h-100 d-flex align-items-center">
        <!-- Header Content -->
        <div class="jumbotron" data-aos="fade-up">
            <h1 class="fw-500 col-lg-6 col-md-12 col-sm-12 m-b-25">Explore car data like never before.</h1>

            <p class="fs-18 fw-400 col-lg-7 col-md-12 col-sm-12 m-b-25">
                <span class="underline">Lab5</span> is a comprehensive web application and API designed to let users explore, edit,
                and update car data at a moments notice.
            </p>

            <!-- Link to API -->
            <a href="/cars" class="link">
                <button class="btn btn-primary">Get Started <i class="icon" data-feather="arrow-right"></i></button>
            </a>
            <!-- /.link-to-api -->
        </div>
        <!-- /.header-content -->
    </div>
    <!-- /.container -->
</header>
<!-- /.header -->