<header id="main">
    <div class="container">
        <div class="col-lg-5">
            <h1>Lab5 API</h1>
        
            <p>
                A simple, no fuss, no mess, web application and API for car lovers.
                Serving as a curated directory of incredible custom vehicles.

                <ul>
                    <li><button class="btn btn-secondary">View API</button></li>
                    <li><button class="btn btn-primary">Learn More</button></li>
                </ul>
            </p>
        </div>
    </div>
</header>